<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="middle.model.StreamTest" alias="Stream"/>
        <typeAlias type="middle.model.Video" alias="Video"/>
        <typeAlias type="middle.model.Product" alias="Product"/>
        <typeAlias type="middle.model.Member" alias="Member"/>
		<typeAlias type="middle.model.NoticeBoard" alias="NoticeBoard"/>
		<typeAlias type="middle.model.NoticeSearch" alias="NoticeSearch"/>
    </typeAliases>
    
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="JNDI">
                <property name="data_source" value="java:comp/env/jdbc/oracle"/>
            </dataSource>
        </environment>        
    </environments>
    
    <mappers>
        <mapper resource="middle/mapper/Stream.xml"/>
        <mapper resource="middle/mapper/Member.xml"/>
		<mapper resource="middle/mapper/NoticeBoard.xml"/>
    </mappers>
    
</configuration>
