<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="login.model.UserModel" alias="UserModel" />

	</typeAliases>

	<!-- 데이터 베이스를 어떻게 가져올까요 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="JNDI">
				<property name="data_source"
					value="java:comp/env/jdbc/oracle" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="login/mapper/Login.xml" />
	</mappers>

</configuration>










