<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="middle.model.Member" alias="Member"/>
		<typeAlias type="middle.model.Product" alias="Product"/>
		<typeAlias type="middle.model.Deal" alias="Deal"/>
		<typeAlias type="middle.model.Member_img" alias="Member_img"/>
		<typeAlias type="middle.model.Member_Product" alias="Member_Product"/>
        <typeAlias type="middle.model.StreamTest" alias="Stream"/>
        <typeAlias type="middle.model.Video" alias="Video"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/oracle"/>
			</dataSource>
		</environment>		
	</environments>
	
	<mappers>
		<mapper resource="middle/mapper/Mypage.xml"/>
		<mapper resource="middle/mapper/Stream.xml"/>
        <mapper resource="middle/mapper/Member.xml"/>
	</mappers>
	
	
</configuration>

